@import 'styles/scss/abstracts/mixins';
@import 'styles/scss/abstracts/variables';

.container {
  margin-bottom: 20px;
  cursor: pointer;
  @include common-shadow;

  @media (min-width: $screen-s) {
    display: flex;
    border-radius: 8px;
  }
}

.storyInfo {
  padding: 20px 15px;

  @media (min-width: $screen-s) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding: 40px;
  }
}

.storyImage {
  @media (min-width: $screen-s) {
    width: 55%;
  }
}

.storyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.storyDate {
  @include custom-font-size(14px);
  font-weight: $type-weight;
}

.storyTitle {
  margin-bottom: 16px;
  @include custom-font-size(20px);
  font-weight: $type-weight--semi-bold;
}

.storyPreview {
  @include custom-font-size(16px);
  font-weight: $type-weight;
}
