@mixin header-shadow {
  box-shadow: 0px 2px 10px rgba(22, 22, 22, 0.1);
}

@mixin common-shadow {
  box-shadow: 0px 0px 10px rgba(22, 22, 22, 0.1);
}

@mixin text($font-weight, $font-style, $font-size, $line-height, $color) {
  font-family: $type-family;
  font-weight: $font-weight;
  font-style: $font-style;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
