// Colors
$background: #fbfbfb;
$text: #161616;
$text-white: #fbfbfb;
$sub-text: #7a7a7a;
$main: #e33a6d;
$separator: #d1d1d1;
$hover-color: #d9d9d9;

// Type
$type-family: 'Open Sans', sans-serif;
$type-weight: 400;
$type-weight--semi-bold: 600;

// Screen
$screen-xl: 1440px;
$screen-l: 1200px;

$screen-m: 992px;
$screen-s: 768px;
$screen-xs: 576px;
