@import 'styles/scss/abstracts/mixins';
@import 'styles/scss/abstracts/variables';

.sectionTitle {
  width: fit-content;

  padding: 4px 8px;

  background-color: $custom-pink;
  border-radius: 4px;

  @include custom-text-section;
  &:first-letter {
    text-transform: uppercase;
  }
}
