@import '../../../../styles/scss/abstracts/mixins';
@import '../../../../styles/scss/abstracts/variables';

.blockRow {
  display: flex;
  flex-wrap: wrap;

  .blockColumn {
    margin-bottom: 20px;
    border-radius: 8px;
    @include common-shadow;
    :hover {
      background: #d9d9d9;
      cursor: pointer;
    }
    .blockItem {
      display: flex;
      .storyDescription {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        .storySectionBlock {
          display: flex;
          justify-content: space-between;
          .storySection {
            align-items: center;
            padding: 4px 8px;
            gap: 10px;
            width: fit-content;
            background-color: $main;
            @include small-text-semi-bold;
            color: #fbfbfb;
            border-radius: 4px;
          }
          .storySectionDate {
            display: none;
          }
        }

        .storyTitle {
          margin-top: 24px;
          @include heading-h2;
        }
        .storyAbstract {
          margin-top: 16px;
          @include small-text-regular;
        }
      }
      .storyImage {
        width: 50%;
        max-height: 458px;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 767px) {
  .blockItem {
    flex-direction: column;
    .storyDescription {
      width: 100% !important;
      padding: 24px 15px 20px 15px !important;
      .storySectionBlock {
        .storySectionDate {
          display: inline !important;
        }
      }
      .storyDate {
        display: none;
      }
    }
    .storyImage {
      width: 100% !important;
      max-height: 280px !important;
    }
  }
}
