@import 'styles/scss/abstracts/mixins';
@import 'styles/scss/abstracts/variables';

.container {
  max-width: $screen-l;
  margin: 0 auto;
}

.storyContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 458px;

  margin-bottom: 20px;

  border-radius: 8px;

  @include common-shadow;
  overflow: hidden;
  &:hover {
    background: $hover-color;
    cursor: pointer;
  }

  @media (max-width: $screen-s) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      'storyInfo'
      'storyImage';

    border-radius: 0;
    max-height: none;
    overflow: hidden;
    .storyInfo {
      grid-area: storyInfo;
    }
    .storyImage {
      grid-area: storyImage;
      max-height: 300px;
    }
  }
}

.storyInfo {
  margin: 40px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 26px 100px auto auto;
  grid-template-areas:
    'section'
    'title'
    'abstract'
    'date';
  @media (max-width: $screen-m) {
    grid-template-columns: 50% 50%;
    grid-template-areas:
      'section date'
      'title title'
      'abstract abstract';
    .storySectionDate {
      align-self: center;

      display: flex;
      text-align: center;
      justify-content: flex-end;
    }
  }
}

.storySection {
  grid-area: section;

  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;

  padding: 4px 8px;

  background-color: $main;

  @include text($type-weight--semi-bold, 'normal', 16px, 24px, $text-white);

  border-radius: 4px;
}

.storyTitle {
  grid-area: title;

  margin-top: 20px;
  @include text($type-weight--semi-bold, 'normal', 20px, 28px, $text);
}

.storyAbstract {
  grid-area: abstract;
  align-self: start;

  // @include small-text-regular;
  @include text($type-weight, 'normal', 16px, 24px, $text);
}

.storySectionDate {
  grid-area: date;
  align-self: end;
  @include text($type-weight, 'normal', 14px, 18px, $text);
}

.storyImage {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
