.layout {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  .layout__body {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
