// Colors
$background: #fbfbfb;
$text: #161616;
$sub-text: #7a7a7a;
$main: #e33a6d;
$separator: #d1d1d1;

// Type
$type-family: 'Open Sans', sans-serif;
$type-weight: 400;
$type-weight--semi-bold: 600;
