* {
  all: unset;
  -webkit-text-fill-color: initial;
  display: revert;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

html,
body {
  min-height: 100%;
  background: #fbfbfb;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $type-family;
  color: $text;
  background-color: $background;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}
